<div class="container">

  <div class="row">

    <!--FORM-->

    <div class="col-md-5 offset-md-3">

      <div class="card">

        <div class="card-body">

          <h1>Actualizar Tarea</h1>

          <form action="/edit/{{task._id}}" method="post">

            <div class="mb-3">

              <input
                class="form-control"
                type="text"
                name="title"
                placeholder="Title"
                value="{{task.title}}"
              />

            </div>

            <div class="mb-3">

              <textarea
                class="form-control"
                name="description"
                rows="3"
                placeholder="Add a Description"
              >{{task.description}}</textarea>

            </div>

            <button class="btn btn-primary" type="submit">Actualizar</button>

          </form>

        </div>

      </div>

    </div>

  </div>

</div>

{{!-- <h1>PAgina para editar</h1>

 <form action="/edit/{{task._id}}" method="post">

    <input type="text" name="title" placeholder="Titulo" value="{{task.title}}" />

    <textarea
      name="description"
      rows="3"
      placeholder="descripcion"
      
    >{{task.description}}</textarea>

  <button >Editar</button>
</form> 
 --}}